.menuOutline {
  margin-left: 20px;
}

.sider-menu {
  display: none;
}

.ant-drawer-body {
  /* background-color: #fff; */
  padding: 0;
  padding-top: 15px;
}

.ant-drawer-header {
  /* background-color: #fff; */
  padding-bottom: 20px;
}

.ant-drawer-title {
  padding-top: 5px;
  color: black;
}

/* start of header */
.ant-layout-header {
  background-color: #fff;
  height: 30px;
}

/* setting logo  */
.logo {
  height: auto;
  justify-content: flex-end;
  display: flex;
  margin-top: -18px;
}

.backGround {
  background-color: #f7f5f7;
}

.userId {
  justify-content: center;
  padding: 20px;
}

.userId img {
  width: 55px;
}
.userId .imgProfil {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.userId p {
  color: #f7f5f7;
  /* font-size: 12px; */
  text-transform: uppercase;
  text-align: center;
}
.userId .subTitle {
  /* font-size: 11px; */
  font-style: italic;
  text-transform: none;
}

/* .ant-layout-sider-children,
.side-bar,
.ant-layout-sider-trigger,
.ant-layout-sider {
  width: 220px !important;
} */

.ant-layout-content {
  min-height: 97vh !important;
}

.container-table {
  background-color: aquamarine;
  padding: 10px;
}

.ant-layout-sider-trigger {
  background-color: #1f2228;
}

.ant-layout-sider-has-trigger {
  padding-bottom: 0;
}
/* @media (max-width: 991px) {
  .side-bar {
    width: 0px !important;
  }
} */

@media (min-width: 992px) {
  .menuOutline {
    display: none;
    margin-left: 100px;
  }

  .sider-menu {
    display: block;
  }

  .ant-btn-danger {
    /* background-color: #f0f2f5; */
    border-color: #001529;
    border-radius: 10px;
  }
}
